{{!-- index.hbs --}}
<<<<<<< HEAD
{{!-- <ul title="Jokes:">
    {{#each jokes}}
    <li>
        <p>{{setup}}</p> <br>
        <p>{{punchline}}</p>
    </li>
    {{/each}}
</ul>
 --}}
=======
>>>>>>> bbe6c17ed1676b332e942f490cbf4a586c8f9aa0

<h2>De sjoveste jokes nogensinde</h2>
<dl>
    {{#each jokes}}
    <dt style="font-weight: bold;">{{setup}}</dt>
    <dd>{{punchline}}</dd><br>
    {{/each}}
<<<<<<< HEAD
    
=======
>>>>>>> bbe6c17ed1676b332e942f490cbf4a586c8f9aa0
</dl>